* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.wrapper {
  width: 214px;
}

.wrapper > * {
  width: 100%;
}

.add-button {
  height: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  transition: all ease .25s;
  cursor: pointer;
}

.add-button i {
  color: #23B3E8;
}

.add-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}